@model IList<ProductOverviewModel>

@*@using Nop.Web.Models.Catalog;

@if (Model.Count > 0)
{
    <div class="product-grid home-page-product-grid">
        <div class="title">
            <strong>@T("HomePage.Products")</strong>
        </div>
        <div class="item-grid">
            @foreach (var item in Model)
            {
                <div class="item-box">
                    @Html.Partial("_ProductBox", item)
                </div>
            }
        </div>
    </div>
}*@


@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="container mar-top" align="center">
        <h1 align="center">Featured Products</h1>
        <hr>
        <div class="flexslider carousel">
            <ul class="slides">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="crsl-item">
                            <img style="margin-bottom:15px;" alt="@item.DefaultPictureModel.AlternateText" src="@item.DefaultPictureModel.ImageUrl" title="@item.DefaultPictureModel.Title" />
                            <a href="@Url.RouteUrl("Product", new { SeName = item.SeName })" title="@item.Name">
                                @item.Name
                            </a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
}
