@model ProductOverviewModel
@using Nop.Core
@using Nop.Core.Domain.Orders
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    var shoppingCartTypeId = (int)ShoppingCartType.ShoppingCart;
    var quantity = 1;
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = shoppingCartTypeId, quantity = quantity });
    }

    var addtowishlistlink = Url.RouteUrl("AddProductToCart-Catalog", new { productId = Model.Id, shoppingCartTypeId = (int)ShoppingCartType.Wishlist, quantity = quantity });
    var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
    var material = string.Empty;
    if (Model != null)
    {
        if (!string.IsNullOrEmpty(Model.Material))
        {
            material = (Model.Material.Length > 35 ? Model.Material.Substring(0, 35) + "..." : Model.Material);

        }
    }

}


<div class="col-md-3">
    <div style="width:280px;border:1px solid #ccc;margin-bottom:2em;" class="product-box">

        @if (!string.IsNullOrEmpty(Model.ItemIsNew))
        {
            <p class="text-center" style="background-color:#5abaaf;color:white;height:30px;font-weight:bolder;padding-top:5px;font-size:1.2em;">@Model.ItemIsNew</p>
        }
        else
        {
            <p class="text-center" style="background-color:#fff;color:white;height:30px;font-weight:500;padding-top:5px;"></p>
        }

        <ul style="list-style:none;text-align:center;padding-left: 0px;">
            <li style="font-weight:bold;" title="@Model.Name">@(Model.Name.Length > 35 ? Model.Name.Substring(0,35) + "..." : Model.Name)</li>
            <li style="color:#999;" title="@Model.Material">
                @if (string.IsNullOrEmpty(material))
                {
                    <text>&nbsp;</text>
                }
                else
                {
                    <text>@material</text>
                }
            </li>
            <li><small>@Model.SKU</small></li>
        </ul>
        <div style="width:280px;height:280px;">
            <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
                <div style="width:100%;height:100%;background:url(@Model.DefaultPictureModel.ImageUrl) center center no-repeat;">

                </div>
            </a>
        </div>
        <p class="text-center">
            @if (Model.ProductPrice != null)
            {
                if (!string.IsNullOrEmpty(Model.ProductPrice.PriceDesc))
                {
                    if (Model.ProductPrice.PriceDesc.Contains("\r\n"))
                    {
                        var data = Model.ProductPrice.PriceDesc.Split(new string[] { "\r\n" }, StringSplitOptions.None);
                        if (!string.IsNullOrEmpty(data[1]))
                        {
                            <text>@data[0]<br />@data[1] <span style="color:red;">@Model.ProductPrice.Price</span></text>
                        }
                        else
                        {
                            <text>@data[0]<br /><span style="color:red;">@Model.ProductPrice.Price</span></text>
                        }
                    }
                    else
                    {
                        <text>@Model.ProductPrice.PriceDesc <span style="color:red;">@Model.ProductPrice.Price</span></text>
                    }
                }
            }
        </p>
    </div>
</div>
