@using Nop.Core.Domain.Common;
@using Nop.Core.Infrastructure;
@{
    var displayMiniProfiler = EngineContext.Current.Resolve<Nop.Core.Domain.StoreInformationSettings>().DisplayMiniProfilerInPublicStore;
    Html.AppendScriptParts("~/Scripts/Dezinecorp/jquery.jscroll.min.js");
    Html.AppendScriptParts("~/Scripts/public.ajaxcart.js");
    Html.AppendScriptParts("~/Scripts/public.common.js");
    Html.AppendScriptParts("~/Scripts/jquery-migrate-1.2.1.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.unobtrusive-ajax.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-ui-1.10.3.custom.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.unobtrusive.min.js");
    Html.AppendScriptParts("~/Scripts/jquery.validate.min.js");
    Html.AppendScriptParts("~/Scripts/jquery-1.10.2.min.js");

    //X-UA-Compatible tag
    var commonSettings = EngineContext.Current.Resolve<CommonSettings>();
    if (commonSettings.RenderXuaCompatible)
    {
        Html.AppendHeadCustomParts(string.Format("<meta http-equiv=\"X-UA-Compatible\" content=\"{0}\"/>", commonSettings.XuaCompatibleValue));
    }
}
<!DOCTYPE html>
<html @Html.Partial("LanguageAttributes")>
<head>
    <title>@Html.NopTitle(true)</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="@(Html.NopMetaDescription())" />
    <meta name="keywords" content="@(Html.NopMetaKeywords())" />
    <meta name="generator" content="nopCommerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Html.NopHeadCustom()
    @*This is used so that themes can inject content into the header*@
    @Html.Partial("Head")
    @Html.Widget("head_html_tag")
    @*@Html.NopCssFiles(this.Url, ResourceLocation.Head)*@  @*Commenting Default CSS of nopCommerce*@
    @Html.NopScripts(this.Url, ResourceLocation.Head)
    @Html.NopCanonicalUrls()
    @Html.Action("RssHeaderLink", "News")
    @Html.Action("RssHeaderLink", "Blog")
    @*Favicon - upload favicon.ico file to the root directory*@
    @Html.Action("Favicon", "Common")
    @if (displayMiniProfiler)
    {
        @StackExchange.Profiling.MiniProfiler.RenderIncludes()
    }
    <!--Powered by nopCommerce - http://www.nopCommerce.com-->

    <!-- Adding CSS Start -->
    <link href="~/Content/DezineCorpCSS/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DezineCorpCSS/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="~/Content/DezineCorpCSS/sm-core-css.css" rel="stylesheet" type="text/css">
    <link href="~/Content/DezineCorpCSS/sm-simple.css" rel="stylesheet" type="text/css">
    <link href="~/Content/DezineCorpCSS/jquery.social-buttons.css" rel="stylesheet" type="text/css">
    <link href="~/Content/DezineCorpCSS/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/DezineCorpCSS/site.css" rel="stylesheet" type="text/css">
    <link href="~/Content/DezineCorpCSS/flexslider.css" rel="stylesheet" type="text/css">
    <style>
        .pd-top-1o5per {
            padding: 1.5%;
        }

    </style>
    <!-- CSS End -->

</head>
<body>
    @RenderBody()
    @Html.NopCssFiles(this.Url, ResourceLocation.Foot)
    @Html.NopScripts(this.Url, ResourceLocation.Foot)

    <script src="~/Scripts/DezineCorp/bootstrap.js"></script>
    <!-- Adding Script Start -->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/Scripts/DezineCorp/jquery.social-buttons.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Scripts/DezineCorp/move-top.js"></script>
    <script src="~/Scripts/DezineCorp/jquery.smartmenus.min.js"></script>
    <script src="~/Scripts/DezineCorp/jquery.flexslider.js"></script>
    @*<script src="~/Scripts/DezineCorp/responsiveslides.min.js"></script>*@
    <script type="text/javascript" src="~/Scripts/DezineCorp/responsiveCarousel.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            console.log('root head 1');
            //$(".scroll").click(function (event) {
            //    event.preventDefault();
            //    //$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            //});
            var $mainMenuState = $('#main-menu-state');
            var $headingMenuBrand = $('#headingmenubrand');
            if ($mainMenuState.length) {

                // animate mobile menu
                $mainMenuState.change(function (e) {
                    var $menu = $('#main-menu');
                    if (this.checked) {
                        $menu.hide().slideDown(250, function () { $menu.css('display', ''); });
                    } else {
                        $menu.show().slideUp(250, function () { $menu.css('display', ''); });
                    }
                });
                // hide mobile menu beforeunload
                $(window).bind('beforeunload unload', function () {
                    if ($mainMenuState[0].checked) {
                        $mainMenuState[0].click();
                    }
                });
            }

            
            $('#quote-carousel').carousel({
                pause: true,
                interval: 4000,
            });

            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });

            // for ca
           

            $('#account-repre-form,#graphic-form').click(function () {
                if ($("#career-form").is(":visible") == false) 
                    $("#career-form").show("slow");
                if ($(this).attr('id') == 'graphic-form')
                    $('#Graphic_Artist').prop('checked', true);
                else
                    $('#Account_Representative').prop('checked', true);
            });
        });

        //$(window).load(function () {
        //    $('.flexslider').flexslider({
        //        animation: "slide",
        //        animationLoop: true,
        //        itemWidth: 250,
        //        itemMargin: 7,
        //        pausePlay: false,

        //    });
        //});
    </script>
    <!-- Script End-->
</body>
</html>
