@{
    Layout = "~/Views/Shared/_Root.Head.cshtml";
}
@Html.Widget("body_start_html_tag_after")
@*@Html.Partial("_Notifications")*@
@Html.Action("JavaScriptDisabledWarning", "Common")
@Html.Partial("OldInternetExplorerWarning")

<header id="new-header" class="header-full">
    @Html.Action("AdminHeaderLinks", "Common")

    @Html.Partial("Header")
</header>
@*<div class="container">
        @Html.Partial("Header")
    </div>*@
@*<script type="text/javascript">
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart');
    </script>*@
@*<div class="container">
        @Html.Action("TopMenu", "Catalog")
    </div>*@
@*@if (IsSectionDefined("Breadcrumb"))
    {
        @RenderSection("Breadcrumb")
    }*@
@RenderBody()


@Html.Action("Footer", "Common")

  @*  @Html.Action("EuCookieLaw", "Common")
    @Html.Widget("body_end_html_tag_before")*@

