@model CategoryModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AddTitleParts(!String.IsNullOrEmpty(Model.MetaTitle) ? Model.MetaTitle : Model.Name);
    Html.AddMetaDescriptionParts(Model.MetaDescription);
    Html.AddMetaKeywordParts(Model.MetaKeywords);

    var canonicalUrlsEnabled = EngineContext.Current.Resolve<SeoSettings>().CanonicalUrlsEnabled;
    if (canonicalUrlsEnabled)
    {
        var categoryUrl = Url.RouteUrl("Category", new { SeName = Model.SeName }, this.Request.Url.Scheme);
        Html.AddCanonicalUrlParts(categoryUrl);
    }

    var breadcrumbDelimiter = EngineContext.Current.Resolve<CommonSettings>().BreadcrumbDelimiter;
    var catalogueUrl = "catalog-page";

}
@using Nop.Core.Domain.Common;
@using Nop.Core.Domain.Seo;
@using Nop.Core.Infrastructure;
@using Nop.Web.Models.Catalog;
@*category breadcrumb*@


@*@Html.Partial("_HomePageSlider")*@

<section id="section-mission" class="section section-full-width">
    <div class="home-mission content-inner-width">
        <h1 class="mission-header">
            <p class="category-header">@Model.Name</p>
            @*<p style="padding-bottom: 20px;">@Html.Raw(Model.Description)</p>*@
        </h1>
    </div>
    <!-- /.home-mission -->
</section>



@if (Model.SeName.ToLower() != catalogueUrl)
{
    if (Model.DisplayCategoryBreadcrumb)
    {
        <div id="breadcrumb-holder" class="section-full-width content-inner-width">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb top-bottom">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    @foreach (var cat in Model.CategoryBreadcrumb)
                    {
                        var isLastCategory = cat.Id == Model.Id;
                        if (isLastCategory)
                        {
                            <li class="breadcrumb-item active" aria-current="page">@cat.Name.Replace("Root Category", "Root")</li>
                        }
                        else
                        {
                            <li class="breadcrumb-item"><a href="@Url.RouteUrl("Category", new { SeName = cat.SeName })">@cat.Name.Replace("Root Category", "Root")</a></li>
                        }
                    }
                </ol>
            </div>
        </div>
        @Html.Widget("categorydetails_after_breadcrumb", Model.Id)
    }
    <div class="sort-wrapper" style="padding: 10px 20px 0px;">
        <span class="sort-label">Sort by: </span>
        @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
    </div>
}



@if (Model.SubCategories.Any())
{
    var subCategories = Model.SubCategories.Take(4);
    var iterations = 0;

    <section id="section-product-subcategories">
        <div class="content-inner-width">
            <h2 class="section-header">Category Subcategories</h2>
        </div><!-- /.content-inner-width -->
        <div class="product-category-wrapper product-subcategory-wrapper content-inner-width">
            <div class="grid-wrapper">

                <div class="grid-row">
                    @while (subCategories.Count() > 0)
                    {
                        foreach (var item in subCategories)
                        {
                            <div class="grid-product grid-4up">
                                @if (Model.SeName.ToLower() == catalogueUrl)
                                {
                                    <a class="product-category-link" href="@Url.Action("RenderCatalogue","Common", new { frameurl = item.SeName})" title="@item.PictureModel.Title">
                                        <div class="product-category-image-container ">
                                            <img class="propduct-category-image corner-radius" src="@item.PictureModel.ImageUrl" alt="@item.PictureModel.AlternateText" />
                                        </div>
                                    </a>
                                }
                                else
                                {
                                    <a class="product-category-link" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                                        <div class="product-category-image-container ">
                                            <img class="propduct-category-image corner-radius" src="@item.PictureModel.ImageUrl" alt="@item.PictureModel.AlternateText" />
                                        </div>
                                    </a>
                                }

                                <div class="product-info-wrapper">
                                    <h3 class="product-title">@item.Name</h3>
                                </div>
                            </div>
                        }
                        iterations++;
                        subCategories = Model.SubCategories.Skip(4 * iterations).Take(4);
                    }
                </div>

            </div> <!-- grid-wrapper -->
        </div>
    </section><!-- /#section-product-subcategories -->
}

@if (Model.Products.Any())
{
    var products = Model.Products.Take(4);
    var iterations = 0;
    <section id="section-product-categories" class="section section-full-width">
        @if (Model.SubCategories.Any())
        {
            <div class="content-inner-width">
                <h2 class="section-header">Category Products</h2>
            </div>
        }


        <div class="product-category-wrapper product-category-products content-inner-width">
            <div class="grid-wrapper">

                <div class="grid-row product-grid">
                    @while (products.Count() > 0)
                    {
                        foreach (var product in products)
                        {
                            @Html.Partial("_ProductBox", product)
                        }
                        iterations++;
                        products = Model.Products.Skip(4 * iterations).Take(4);
                    }
                </div>
                @*<div class="pager">
                        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
                    </div>
                    <script>

                            $('.product-grid').jscroll({
                                loadingHtml: '<small>Loading...</small>',
                                padding: 250,
                                debug: true,
                                autoTrigger: true,
                                autoTriggerUntil: 10,
                                nextSelector: 'li.next-page a',
                                contentSelector: '.product-grid',
                                callback: function () {
                                    $('.pager').hide()
                                }
                            });
                            var isPostBack = false;
                            $(window).load(function () {
                                if (localStorage.getItem('scrollPosTop') !== null) {
                                    var scrollPos = parseInt(localStorage.getItem('scrollPosTop'));
                                    $('html,body').animate({ scrollTop: scrollPos }, 1000);
                                    localStorage.removeItem('scrollPosTop');

                                }
                            });

                            $('.product-box').on('click', GetScrollPos);
                            function GetScrollPos(event) {
                                localStorage.removeItem('scrollPosTop');
                                var pos = $(this).offset().top;
                                localStorage.setItem('scrollPosTop', pos);
                                console.log(pos);
                            }



                    </script>*@
                <!-- /.product-category-wrapper -->
            </div>
        </div>
    </section>
}


@Html.Partial("_TalkToExpert")

<section id="section-customization" class="section section-full-width no-top">
    <div class="content-inner-width advantage-wrapper">
        <!--
            <div class="advantage-image-wrapper">
                <img class="advantage-image" src="assets/images/placeholder/krakenimages-376KN_ISplE-unsplash-3x1.jpg" alt="The Dezine Advantage" />
            </div>
            -->
        <div class="customization-content-wrapper">
            <h2 class="section-header">Customization</h2>
            <p class="advantage-intro">We source the highest quality products globally to supply locally. But the final product? That’s <strong><em>100% Canadian</em></strong>. Our talented team transforms these pieces into stunning products with our value-added customization services. Refer to specific product pages to discover the customization options available, or contact our team for more information.</p>
        </div>
        <div class="column-wrap">
            <!-********************************************->
            <!- CUSTOMIZATION POINT 1                          ->
            <!-********************************************->
            <div class="four-column-split">
                <div class="column-split-right">
                    <div class="column-split-content">
                        <img class="customization-image" src="~/Content/DezineCorpImages/opt-lasers-KshEaH06rV8-unsplash.jpg" />
                        <div class="customization-icon">
                            <i class="fas fa-bolt"></i>
                        </div>
                        <h3 class="customization-content-header">Etching</h3>
                        <p class="column-content-text">Our deep etching technique creates memorable, long-lasting branded products that will stand up to the test of time - and the dishwasher.</p>
                    </div>
                    <!-- /.column-split-content -->
                </div>
                <!-- /.column-split-right -->
            </div>
            <!-- /column-split -->
            <!-********************************************->
            <!- CUSTOMIZATION POINT 2                          ->
            <!-********************************************->
            <div class="four-column-split">
                <div class="column-split-right">
                    <div class="column-split-content">
                        <img class="customization-image" src="~/Content/DezineCorpImages/mika-baumeister-PtabTe6iJ_8-unsplash.jpg" />
                        <div class="customization-icon">
                            <i class="fas fa-air-freshener"></i>
                        </div>
                        <h3 class="customization-content-header">Screen Printing</h3>
                        <p class="column-content-text">Bring your ideas to life with our classic screen printing services that are available for a wide array of products, including paper. </p>
                    </div>
                    <!-- /.column-split-content -->
                </div>
                <!-- /.column-split-right -->
            </div>
            <!-- /column-split -->
            <!-********************************************->
            <!- CUSTOMIZATION POINT 3                          ->
            <!-********************************************->
            <div class="four-column-split">
                <div class="column-split-right">
                    <div class="column-split-content">
                        <img class="customization-image" src="~/Content/DezineCorpImages/eric-zhu-FZwPklRRzrw-unsplash.jpg" />
                        <div class="customization-icon">
                            <i class="fas fa-cogs"></i>
                        </div>
                        <h3 class="customization-content-header">Engraving</h3>
                        <p class="column-content-text">Our laser engraving services cover both flat and curved surfaces, giving you almost endless design possibilities.</p>
                    </div>
                    <!-- /.column-split-content -->
                </div>
                <!-- /.column-split-right -->
            </div>
            <!-- /column-split -->
            <!-********************************************->
            <!- CUSTOMIZATION POINT 4                          ->
            <!-********************************************->
            <div class="four-column-split">
                <div class="column-split-right">
                    <div class="column-split-content">
                        <img class="customization-image" src="~/Content/DezineCorpImages/diego-ph-fIq0tET6llw-unsplash.jpg" />
                        <div class="customization-icon">
                            <i class="fas fa-box-open"></i>
                        </div>
                        <h3 class="customization-content-header">Sublimation</h3>
                        <p class="column-content-text">This method gives you more freedom than ever before to get creative, offering design flexibility and longevity.</p>
                    </div>
                    <!-- /.column-split-content -->
                </div>
                <!-- /.column-split-right -->
            </div>
            <!-- /column-split -->
        </div>
        <!-- /.column-wrap -->
        <div class="other-decoration-text">
            <p>Other decoration options include:</p>
            <ul>
                <li>Pad Printing</li>
                <li>Deboss/Emboss</li>
                <li>Foil Stamping</li>
                <li>Decals</li>
                <li>I-Dezine Stickers</li>
                <li>Paper Inserts for Plastic Drinkware</li>
                <li>Box Imprinting</li>
            </ul>
        </div>
        <div class="customization-cta-wrapper">
            <a class="new-button cta-button-yellow home-hero-slide-cta corner-radius" href="/Common/AboutUs">Learn More</a>
        </div>
    </div>
    <!-- /.talk-cta-wrapper -->
</section>

<!--MoreProduct-->
@Html.Partial("_PopularProductIdeas")

@Html.Partial("_SearchOption")

@Html.Partial("_DezinecorpDifference")

@Html.Partial("_Subcribtions")


<style>
    .color-dot {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        display: inline-block;
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px #aeaeae;
        margin: 1px;
    }
</style>
<script>
    $(document).ready(function () {
        $('.color-dot').unbind().click(function (e) {
            e.preventDefault();
            // e.stopPropagation();
            var selectedProduct = $(this).attr('data-sku-color');
            var familyCode = $(this).attr('data-family-code-color');
            var allProduct = $("div[data-family-code='" + familyCode + "']");
            var selectedProduct = $("div[data-sku='" + selectedProduct + "']");
            $(allProduct).attr('style', 'display:none');
            console.log(selectedProduct);
            $(selectedProduct).removeAttr('style');

        });
        $('.color-dot').mouseenter(function () {
            var selectedProduct = $(this).attr('data-sku-color');
            var familyCode = $(this).attr('data-family-code-color');
            var allProduct = $("div[data-family-code='" + familyCode + "']");
            var selectedProduct = $("div[data-sku='" + selectedProduct + "']");
            $(allProduct).attr('style', 'display:none');
            console.log(selectedProduct);
            $(selectedProduct).removeAttr('style');
        });

        $(".color-opt").on('click', function (e) {
            e.preventDefault();
        });
    });
</script>