@model SearchBoxModel
@using Nop.Web.Models.Catalog;
@*@using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { id = "small-search-box-form" }))
{*@

       

        <div class="form-group">
            <input type="text" class="form-control small-searchterms" placeholder="Search"  id=" small-searchterms" name="q" >
            <button type="submit" class="btn bt-g"> <i class="fa fa-search" aria-hidden="true" id="searchbutton"></i> </button>
        </div>

    
    @if (Model.SearchTermMinimumLength > 0)
    {
        <script type="text/javascript">
            @*$("#small-search-box-form").submit(function(event) {
                if ($("#small-searchterms").val() == "") {
                    alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Search.EnterSearchTerms").Text))');
                    $("#small-searchterms").focus();
                    event.preventDefault();
                }
            });*@
            $('#small-searchterms').keypress(function (e) {
                var key = e.which;
                if(key == 13)  // the enter key code
                {
                    $("#searchbutton").click();
                }
            });
            $("#searchbutton").on("click", function myfunction() {
                if ($("#small-searchterms").val() == "") {
                    alert('@Html.Raw(HttpUtility.JavaScriptStringEncode(T("Search.EnterSearchTerms").Text))');
                    $("#small-searchterms").focus();
                    return;
                }
                window.location = "/search?q="+$("#small-searchterms").val();
            });
        </script>
    }
    @if (Model.AutoCompleteEnabled)
    {
        <text>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#small-searchterms').autocomplete({
                            delay: 500,
                            minLength: @(Model.SearchTermMinimumLength.ToString()),
                            source: '@(Url.RouteUrl("ProductSearchAutoComplete"))',
                            appendTo: '.search-box',
                            select: function(event, ui) {
                                $("#small-searchterms").val(ui.item.label);
                                setLocation(ui.item.producturl);
                                return false;
                            }
                        })
                        .data("ui-autocomplete")._renderItem = function(ul, item) {
                            var t = item.label;
                            //html encode
                            t = htmlEncode(t);
                            return $("<li></li>")
                                .data("item.autocomplete", item)
                                .append("<a>@(Model.ShowProductImagesInSearchAutoComplete ? Html.Raw("<img src='\" + item.productpictureurl + \"'>") : null)<span>" + t + "</span></a>")
                                .appendTo(ul);
                        };
                });
            </script>
        </text>
    }
    @*@Html.Widget("searchbox")*@
@*}*@