@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
}
@using Nop.Web.Models.Catalog;



<section id="section-mission" class="section section-full-width teal-bg">
    <div class="home-mission content-inner-width">
        <h1 class="mission-header">
            <p class="category-header">Search Results</p>
        </h1>
    </div>
</section>
@Html.Partial("_SearchOption")

<section id="section-product-categories" class="section section-full-width section-search-results">
    <div class="product-category-wrapper product-category-products content-inner-width">
        <div class="grid-wrapper">
            <div class="sort-wrapper">
                <span class="sort-label">Sort by: </span>
                @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
            </div>
            @if (!String.IsNullOrEmpty(Model.Warning))
            {
                <div class="warning">
                    @Model.Warning
                </div>
            }
            @if (Model.NoResults)
            {
                <div class="no-result">
                    @T("Search.NoResultsText")
                </div>
            }
            @if (Model.Products.Count > 0)
            {
                var items = Model.Products.Take(3);
                var iterations = 0;
                <div class="grid-row product-list">
                    @while (items.Count() > 0)
                    {
                        foreach (var product in items)
                        {
                            @Html.Partial("_ProductBox", product)
                        }
                        iterations++;
                        items = Model.Products.Skip(3 * iterations).Take(3);
                    }
                    <div class="pager row" style="display :none">
                        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
                    </div>
                </div>

                <script>
                    $('.product-list').jscroll({
                        loadingHtml: '<img src="/Content/DezineCorpImages/loader.gif"></img>',
                        padding: 200,
                        debug: true,
                        autoTrigger: true,
                        autoTriggerUntil: 10,
                        nextSelector: 'li.next-page a',
                        contentSelector: '.product-list',
                        callback: function () { $('.pager').hide() }
                    });
                </script>


            }



        </div>
    </div>
    <!-- /.product-category-wrapper -->
</section>



@Html.Partial("_DezinecorpDifference")

@Html.Action("SubscriptionEmail", "Common")

<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.adv)").click(toggleAdvancedSearch);

        toggleAdvancedSearch();
    });

    function toggleAdvancedSearch() {

        if ($('#@Html.FieldIdFor(model => model.adv)').is(':checked')) {
            $('#advanced-search-block').show();
        }
        else {
            $('#advanced-search-block').hide();
        }
    }
</script>


<style>
    .color-dot {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        display: inline-block;
        cursor: pointer;
        box-shadow: 1px 1px 1px 1px #aeaeae;
        margin: 1px;
    }
</style>
<script>
    $(document).ready(function () {
        $('.color-dot').unbind().click(function (e) {
            e.preventDefault();
            // e.stopPropagation();
            var selectedProduct = $(this).attr('data-sku-color');
            var familyCode = $(this).attr('data-family-code-color');
            var allProduct = $("div[data-family-code='" + familyCode + "']");
            var selectedProduct = $("div[data-sku='" + selectedProduct + "']");
            $(allProduct).attr('style', 'display:none');
            console.log(selectedProduct);
            $(selectedProduct).removeAttr('style');

        });
        $('.color-dot').mouseenter(function () {
            var selectedProduct = $(this).attr('data-sku-color');
            var familyCode = $(this).attr('data-family-code-color');
            var allProduct = $("div[data-family-code='" + familyCode + "']");
            var selectedProduct = $("div[data-sku='" + selectedProduct + "']");
            $(allProduct).attr('style', 'display:none');
            console.log(selectedProduct);
            $(selectedProduct).removeAttr('style');
        });

        $(".color-opt").on('click', function (e) {
            e.preventDefault();
        });
    });
</script>

