@model SearchModel
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.Search").Text);
}
@using Nop.Web.Models.Catalog;



<section id="section-mission" class="section section-full-width teal-bg">
    <div class="home-mission content-inner-width">
        <h1 class="mission-header">
            <p class="category-header">Search Results</p>
        </h1>
    </div>
</section>
<section id="section-search" class="section section-full-width">
    <div class="search-wrapper content-inner-width">
        <div class="search-page search-bar-wrapper">
            <h2 class="search-header">Search thousands of promotional products</h2>
            @using (Html.BeginRouteForm("ProductSearch", FormMethod.Get, new { @class = "search-page inline-form" }))
            {
                <input id="search-input" class="clear-default-input inline-text-input corner-radius" type="text" placeholder="What are you looking for?" />
                <button type="submit" id="search-submit" class="clear-default-button new-button search-submit-button cta-button-yellow corner-radius">
                    <i class="fas fa-search"></i>
                </button>


                <div class="advanced-search-input inputs reversed">
                    <input class="" id="adv" name="adv" type="checkbox" value="true">
                    <input name="adv" type="hidden" value="false">
                    <label class="advanced-search-box" for="adv">Advanced search</label>
                </div>

                <div class="advanced-search" id="advanced-search-block">
                    <div class="advanced-search-input inputs">
                        @Html.LabelFor(model => model.cid, new { }, ":")
                        @Html.DropDownListFor(model => model.cid, Model.AvailableCategories, new { @class = "advanced-search-select inline-text-input corner-radius", })
                    </div>
                    <div class="advanced-search-input inputs reversed">
                        <input id="isc" name="isc" type="checkbox" value="true"><input name="isc" type="hidden" value="false">
                        <label for="isc">Automatically search sub categories</label>
                    </div>
                    <div class="advanced-search-input inputs">
                        <label>Price </label>
                        <span class="price-range">

                            <input class="price-from inline-text-input corner-radius" id="pf" name="pf" type="text" value="" placeholder="Minimum">
                            to
                            <input class="price-to inline-text-input corner-radius" id="pt" name="pt" type="text" value="" placeholder="Maximum">
                        </span>
                    </div>
                    <div class="advanced-search-input inputs reversed">
                        <input id="sid" name="sid" type="checkbox" value="true">
                        <input name="sid" type="hidden" value="false">
                        <label for="sid">Search In product descriptions</label>
                    </div>

                </div>




            }
        </div>
        <!-- /.search-bar-wrapper -->
        <div class="search-preset-wrapper">
            <div class="search-hints">
                <div class="search-hint-text">
                    <p>Popular searches</p>
                </div>
                <div class="search-preset corner-radius">
                    Ceramics
                </div>
                <div class="search-preset corner-radius">
                    <i class="fab fa-canadian-maple-leaf"></i> Made in Canada
                </div>
                <div class="search-preset corner-radius">
                    Stanley
                </div>
                <div class="search-preset corner-radius">
                    Glassware
                </div>
                <div class="search-preset corner-radius">
                    Clearance
                </div>
            </div>
            <!-- .search-hints-->
        </div>
    </div>
    <!-- /.search-wrapper -->
</section>

<section id="section-product-categories" class="section section-full-width section-search-results">
    <div class="product-category-wrapper product-category-products content-inner-width">
        <div class="grid-wrapper">
            <div class="sort-wrapper"><span class="sort-label">Sort by: </span>
                @Html.Partial("_CatalogSelectors", Model.PagingFilteringContext, new ViewDataDictionary())
            </div>
            @if (!String.IsNullOrEmpty(Model.Warning))
            {
                <div class="warning">
                    @Model.Warning
                </div>
            }
            @if (Model.NoResults)
            {
                <div class="no-result">
                    @T("Search.NoResultsText")
                </div>
            }
            @if (Model.Products.Count > 0)
            {
                var items = Model.Products.Take(3);
                var iterations = 0;
                <div class="grid-row product-list">
                    @while (items.Count() > 0)
                    {
                        foreach (var product in items)
                        {
                            @Html.Partial("_ProductBox", product)
                        }
                        iterations++;
                        items = Model.Products.Skip(3 * iterations).Take(3);
                    }
                    <div class="pager row" style="display :none">
                        @Html.Pager(Model.PagingFilteringContext).QueryParam("pagenumber")
                    </div>
                </div>

                <script>
                    $('.product-list').jscroll({
                        loadingHtml: '<img src="/Content/DezineCorpImages/loader.gif"></img>',
                        padding: 200,
                        debug: true,
                        autoTrigger: true,
                        autoTriggerUntil: 10,
                        nextSelector: 'li.next-page a',
                        contentSelector: '.product-list',
                        callback: function () { $('.pager').hide() }
                    });
                </script>


            }



        </div>
    </div>
    <!-- /.product-category-wrapper -->
</section>



@Html.Partial("_DezinecorpDifference")

@Html.Action("SubscriptionEmail", "Common")

<script type="text/javascript">
    $(document).ready(function () {

        $("#@Html.FieldIdFor(model => model.adv)").click(toggleAdvancedSearch);

        toggleAdvancedSearch();
    });

    function toggleAdvancedSearch() {

        if ($('#@Html.FieldIdFor(model => model.adv)').is(':checked')) {
            $('#advanced-search-block').show();
        }
        else {
            $('#advanced-search-block').hide();
        }
    }
</script>

