@model TopMenuModel
@using Nop.Web.Models.Catalog;

@helper RenderCategoryLine(CategorySimpleModel category, int level, bool responsiveMobileMenu)
{
    <li>
        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
            @category.Name
            @if (category.NumberOfProducts.HasValue)
            {
                <text> </text>@T("Categories.TotalProducts", category.NumberOfProducts.Value)
            }
        </a>
        @{
            //subcategories
            var subCategories = responsiveMobileMenu ?
                //responsive (all categories)
                category.SubCategories :
                //standard design (only categories with "IncludeInTopMenu")
                category.SubCategories.Where(x => x.IncludeInTopMenu).ToList();

            var levelClass = "";
            if (level == 0)
            {
                levelClass = "first-level";
            }
            if (subCategories.Count > 0)
            {
                <div class="sublist-toggle"></div>
                <ul class="sublist @levelClass">
                    @foreach (var subCategory in subCategories)
                    {
                        @RenderCategoryLine(subCategory, level + 1, responsiveMobileMenu)
                    }
                </ul>
            }
        }
    </li>
}
<style>
    #main-nav {
        position: relative;
        z-index: 9;
    }
</style>
<div class="row">
    <nav id="main-nav" role="navigation">
        <input id="main-menu-state" type="checkbox" />
        <label class="main-menu-btn" for="main-menu-state">
            <span class="main-menu-btn-icon"></span> Toggle main menu visibility
        </label>
        <h2 class="nav-brand" id="headingmenubrand" style="display:none;"><span style="font: caption;">Dezine<span style="color:#007A8A;">Corp</span></span><a href="#"></a></h2>
        <ul id="main-menu" class="sm sm-simple">
            <li class="test"> <a href="/"><i class="fa fa-home"></i>&nbsp; &nbsp;Home</a> </li>
            <li>
                <a href="#"><i class="fa fa-tags"></i>&nbsp; &nbsp;Products</a>
                <ul>
                    @{
                        var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
                    }
                    @foreach (var category in rootCategories)
                    {
                        @RenderCategoryLine(category, 0, false)
                    }
                </ul>
            </li>

            <li> <a href="/new-products">New</a> </li>
            <li> <a href="/web-only">Web Only</a> </li>
            <li> <a href="/clearance">Clearance Item</a> </li>
            <li>
                <a href="#"><i class="fa fa-gift"></i>&nbsp; &nbsp;Sales Tools</a>
                <ul>
                    <li><a href="/blog">E-Flyers</a></li>
                    <li><a href="https://www.viewmycatalogs.com/dezine#list/all">Catalogs</a></li>
                    <li><a href="https://dezinecorp.zoomcustom.com/catalogs">Customize catalogs</a></li>
                    <li><a href="https://dezinecorp.zoomcustom.com/flyers">Customize flyers</a></li>
                </ul>
            </li>
            <li><a data-toggle="modal" data-target="#contactUs" style="cursor:pointer;">Contact Us</a> </li>
        </ul>

    </nav>
</div>


<!-- Commenting Default menu -->
@*<ul class="top-menu">
        @Html.Widget("header_menu_before")

        @foreach (var topic in Model.Topics)
        {
            <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
        }
        @if (rootCategories.Count == 0 && Model.Topics.Count == 0)
        {
            //no categories or topis to display? in this case let's diplay some default menu items (should we?)
            <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
            if (Model.NewProductsEnabled)
            {
                <li><a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a>
                </li>
            }
            <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a></li>
            <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
            if (Model.BlogEnabled)
            {
                <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
            }
            if (Model.ForumEnabled)
            {
                <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
            }
            <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
        }
        @Html.Widget("header_menu_after")
    </ul>*@

@*@{
        var rootCategoriesResponsive = Model.Categories.ToList();
        //name it "Categories" if we have only categories. Otherwise, "Menu"
        var responsiveMenuTitle = (rootCategoriesResponsive.Count > 0 && Model.Topics.Count == 0) ? T("Categories") : T("Menu");
        <div class="menu-toggle">@responsiveMenuTitle</div>
        <ul class="top-menu mobile">
            @Html.Widget("mob_header_menu_before")
            @foreach (var category in rootCategoriesResponsive)
            {
                @RenderCategoryLine(category, 0, true)
            }
            @foreach (var topic in Model.Topics)
            {
                <li><a href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a></li>
            }
            @if (rootCategoriesResponsive.Count == 0 && Model.Topics.Count == 0)
            {
                //no categories or topis to display? in this case let's diplay some default menu items (should we?)
                <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
                if (Model.NewProductsEnabled)
                {
                    <li>
                        <a href="@Url.RouteUrl("NewProducts")">@T("Products.NewProducts")</a>
                    </li>
                }
                <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
                <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
                if (Model.BlogEnabled)
                {
                    <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
                }
                if (Model.ForumEnabled)
                {
                    <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
                }
                <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
            }
            @Html.Widget("mob_header_menu_after")
        </ul>

        <script type="text/javascript">
            $(document).ready(function () {
                $('.menu-toggle').click(function () {
                    $(this).siblings('.top-menu.mobile').slideToggle('slow');
                });
                $('.top-menu.mobile .sublist-toggle').click(function () {
                    $(this).siblings('.sublist').slideToggle('slow');
                });
            });
        </script>
    }*@



