@model TopMenuModel
@using Nop.Web.Models.Catalog;




<li>
    <label for="drop-Products" class="toggle">Products</label>
    <a href="#">Products</a>
    <input type="checkbox" id="drop-Products" />
    <ul>
        @{
            var rootCategories = Model.Categories.Where(x => x.IncludeInTopMenu).ToList();
        }
        @foreach (var category in rootCategories)
        {
            var isSubCategoryExist = category.SubCategories.Any();

            <li>
                @if (isSubCategoryExist)
                {
                    <label for="drop-@category.SeName" class="toggle">@category.Name</label>
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">@category.Name</a>
                    <input type="checkbox" id="drop-@category.SeName">
                    <ul>
                        @foreach (var item in category.SubCategories)
                        {

                            <li>
                                <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })">
                                    @item.Name
                                </a>
                            </li>
                        }


                    </ul>
                }
                else
                {
                    <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })">
                        @category.Name
                    </a>
                }
            </li>

        }
    </ul>
</li>
<!-- /products -->
<li>
    <a href="/brands">Brands</a>
</li>
<li>
    <a href="/new-products">What's New!</a>
</li>

<li style="color: #fff !important; background-color: #fe0000">
    <a href="/hot-deals" style="color:#fff !important">HOT DEALS</a>
</li>
<li>
    <a href="/bulk-packaged-product-shipped-by-pallet">BULK / PALLET</a>
</li>
<!--
    <li class="nav-main-item nav-has-subnav"><a href="/customization">Customization</a>
        <ul class="subnav">
            <li><a href="#">Laser etching</a></li>
            <li><a href="#">Silkscreen</a></li>
            <li><a href="#">Process 1</a></li>
            <li><a href="#">Process 2</a></li>
        </ul>
    </li> -->


<li>
    <!-- Second Level Drop Down -->
    <label for="drop-sales-tools" class="toggle">Sales Tools</label>
    <a href="#">Sales Tools</a>
    <input type="checkbox" id="drop-sales-tools" />
    <ul>
        <li><a  href="/catalog-page">Catalogue</a></li>
		<li><a href="@Url.Action("Subscribe","Common")">Subscribe</a></li>
    </ul>
</li>
<!-- /customization -->
<!-- /sales tools -->
<li>
    <label for="drop-Contact" class="toggle">Contact</label>
    <a href="#">Contact</a>
    <input type="checkbox" id="drop-Contact" />
    <ul>
        <li><a href="@Url.Action("AboutUs","Common")">About Dezinecorp</a></li>
        <li><a href="@Url.Action("ContactUs","Common")">Contact Us</a></li>
        <li><a href="@Url.Action("Contact","Common")">Corporate Contact</a></li>
        <li><a href="/brands">Partner Brands</a></li>
        <li><a href="@Url.Action("FAQ","Common")">FAQ</a></li>
    </ul>
</li>
