@model Nop.Web.Models.Common.ContactUsModel

@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        LoadingElementId = "loading-area-ContactUs",
        LoadingElementDuration = 1000,
        OnBegin = "HideFormContactUs",
        OnFailure = "ShowFailureContactUs",
        UpdateTargetId = "message-area-ContactUs",
        OnSuccess = "OnSuccessContactUs",
    };
}

<script>
    function HideFormContactUs() {
        //When the form is ContactUsmitted, we hide the form
        $("#form-area-ContactUs").hide();
    }

    function ShowFailureContactUs(e) {
        //In the case that the AJAX call fails to communicate with the server
        //(e.g. the user's internet connection cuts out), we should display a message to that effect
        $('#message-area-ContactUs').html("<div class='alert alert-danger'><strong>Error!</strong>The server could not be contacted and your message has not been sent. Please check your internet connection and try again later.</div>");
    }
    function OnSuccessContactUs() {
        document.getElementById("ContactUsEmailForm").reset();
    }
</script>
<style>
    #ContactUsscribtion {
        background-color: #eee;
        padding: 10px;
    }
</style>

<div id="loading-area-ContactUs" class="load" style="display:none;">
    <div class='alert alert-info'><strong>Sending...</strong></div>
</div>

<div id="message-area-ContactUs"></div>

<div id="form-area-ContactUs">
    @using (Ajax.BeginForm("ContactUs", null, ajaxOptions, new { id = "ContactUsEmailForm" }))
    {
        @Html.AntiForgeryToken()
        if (!MvcHtmlString.IsNullOrEmpty(Html.ValidationSummary(true)))
        {
            <div class="message-error">@Html.ValidationSummary(true)</div>
        }
        <div class="form-group">
            <label for="name">Name</label>
            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control inputs-style", placeholder = "First Name" })
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control inputs-style", placeholder = "Email" })
        </div>
        <div class="form-group">
            <label for="name">Enquiry</label>
            @Html.TextAreaFor(model => model.Enquiry, new { @class = "form-control inputs-style", placeholder = "Enquiry", rows = "3"})
        </div>
        <br />
        <div class="row" align="center">
            <input type="submit" name="ContactUs" class="send--mail" value="@T("Products.EmailAFriend.Button")" />
        </div>
    }
</div>
