@model Nop.Web.Models.Common.ContactUsModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

}


<!-********************************************->
		<!-                                            ->
		<!-  SECTION: TOP MISSION                      ->
		<!-                                            ->
		<!-********************************************->
<section id="section-mission" class="section section-full-width teal-bg">
    <div class="home-mission content-inner-width">
        <h1 class="mission-header">
            <p class="category-header">Contact Us</p>

        </h1>
    </div>
    <!-- /.home-mission -->
</section>
		<!-********************************************->
		<!- /TOP MISSION                               ->
		<!-********************************************->


		<!-********************************************->
		<!-                                            ->
		<!-  SECTION: FORM                             ->
		<!-  https://bootstrapformbuilder.com          ->
		<!-********************************************->
<section id="section-product-categories" class="section section-full-width">
    <!--
        <div class="content-inner-width">
            <h2 class="section-header">Title</h2>
        </div>
    -->
    @if (Model.SuccessfullySent)
    {
        <div class='alert alert-success'>
            Thank you for your Query.
            <br />Your query will be answered soon!.
        </div>
    }
    else
    {<div class="product-category-wrapper product-category-products content-inner-width">
            <div class="contact-form-wrapper">
                @using (Html.BeginForm("ContactUs", "Common", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="FullName" class="control-label">Name</label>
                        <input id="FullName" name="FullName" placeholder="Name" type="text" class="form-control" value="@Model.FullName">
                    </div>
                    <div class="form-group">
                        <label for="Email" class="control-label">Email</label>
                        <input id="Email" name="Email" placeholder="Email" type="text" required="required" class="form-control" value="@Model.Email">
                    </div>
                    <div class="form-group">
                        <label for="PhoneNumber" class="control-label">Phone number</label>
                        <input id="PhoneNumber" name="PhoneNumber" placeholder="Phone number" type="text" required="required" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Company" class="control-label">Company</label>
                        <input id="Company" name="Company" placeholder="Company" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Query" class="control-label">How can we help?</label>
                        <select id="Query" name="Query" required="required" class="select form-control">
                            <option value="contact" selected="@(Model.Query == "contact")">Contact</option>
                            <option value="quote" selected="@(Model.Query == "quote")">Quote</option>
                            <option value="support" selected="@(Model.Query == "support")">Customer support</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="ProductNumber" class="control-label">Product (if applicable)</label>
                        <input id="ProductNumber" value="@Model.ProductNumber" name="ProductNumber" placeholder="Product (or product ID)" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Quantity" class="control-label">Quantity (if applicable)</label>
                        <input id="Quantity" name="Quantity" placeholder="Quantity" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="Enquiry" class="control-label">Message</label>
                        <textarea id="Enquiry" name="Enquiry" cols="40" rows="5" aria-describedby="contact-messageHelpBlock" class="form-control">@Model.Enquiry</textarea>
                        <span id="contact-messageHelpBlock" class="help-block">Add any additional information here</span>
                    </div>
                    <div class="form-group">
                        <button id="contact-submit" name="submit" type="submit" class="btn btn-primary">Send</button>
                    </div>
                }


            </div><!-- /contact-from-wrapper -->
        </div>

    }

    <!-- /.product-category-wrapper -->
</section>

@Html.Partial("_SearchOption")


@Html.Partial("_DezinecorpDifference")

@Html.Partial("_Subcribtions")
