@model ProductModel

<table class="adminContent">
    <tr>
        <td>
            <table>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.AddColourOption)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.AddColourOption)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.AddColourOption)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.AddCol_1)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.AddCol_1)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.AddCol_1)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.AddCol_2)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.AddCol_2)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.AddCol_2)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.AddCol_3)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.AddCol_3)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.AddCol_3)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.AddCol_4)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.AddCol_4)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.AddCol_4)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.AddColPriceCode)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.AddColPriceCode)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.AddColPriceCode)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.DecalOption)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.DecalOption)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.DecalOption)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.Decal_1)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.Decal_1)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.Decal_1)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.Decal_2)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.Decal_2)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.Decal_2)
                    </td>
                </tr>

            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.Decal_3)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.Decal_3)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.Decal_3)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.Decal_4)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.Decal_4)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.Decal_4)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.DecalPriceCode)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.DecalPriceCode)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.DecalPriceCode)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.LaserEngravingOption)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.LaserEngravingOption)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.LaserEngravingOption)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.Laser_1)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.Laser_1)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.Laser_1)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.Laser_2)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.Laser_2)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.Laser_2)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.Laser_3)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.Laser_3)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.Laser_3)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.Laser_4)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.Laser_4)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.Laser_4)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpAdditionalPricing.LaserPriceCode)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpAdditionalPricing.LaserPriceCode)
                        @Html.ValidationMessageFor(model => model.DezineCorpAdditionalPricing.LaserPriceCode)
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>