@model ProductModel

<table class="adminContent">
    <tr>
        <td>
            <table>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.OldPage2012)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.OldPage2012)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.OldPage2012)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.Net1)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.Net1)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.Net1)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.Net2)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.Net2)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.Net2)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.Net3)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.Net3)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.Net3)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.Net4)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.Net4)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.Net4)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.Net5)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.Net5)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.Net5)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.Net6)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.Net6)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.Net6)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.Net7)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.Net7)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.Net7)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.Net8)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.Net8)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.Net8)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.LOWESTINVOICEVALUEEQPMOQ)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.LOWESTINVOICEVALUEEQPMOQ)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.LOWESTINVOICEVALUEEQPMOQ)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.CurrentEQP)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.CurrentEQP)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.CurrentEQP)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.CurrentEQPLess5PerCent)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.CurrentEQPLess5PerCent)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.CurrentEQPLess5PerCent)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.Change2010to2011EQPtoEQP)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.Change2010to2011EQPtoEQP)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.Change2010to2011EQPtoEQP)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.CountryofOrigin)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.CountryofOrigin)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.CountryofOrigin)
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.HSCode)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.HSCode)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.HSCode)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.MasterPack)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.MasterPack)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.MasterPack)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.L)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.L)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.L)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.W)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.W)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.W)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.H)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.H)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.H)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.Volume)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.Volume)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.Volume)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.FreightUnit)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.FreightUnit)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.FreightUnit)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.DateRevised)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.DateRevised)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.DateRevised)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.RevisedBy)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.RevisedBy)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.RevisedBy)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.InternalComments)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.InternalComments)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.InternalComments)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.PPPCNotes)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.PPPCNotes)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.PPPCNotes)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.DezineCategory)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.DezineCategory)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.DezineCategory)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezinceCorpDataRefOnly.INFOtracImportResultifError)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezinceCorpDataRefOnly.INFOtracImportResultifError)
                        @Html.ValidationMessageFor(model => model.DezinceCorpDataRefOnly.INFOtracImportResultifError)
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>