@model ProductModel

<table class="adminContent">
    <tr>
        <td>
            <table>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpProductKeyword.Keyword_1)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpProductKeyword.Keyword_1)
                        @Html.ValidationMessageFor(model => model.DezineCorpProductKeyword.Keyword_1)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpProductKeyword.Keyword_2)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpProductKeyword.Keyword_2)
                        @Html.ValidationMessageFor(model => model.DezineCorpProductKeyword.Keyword_2)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpProductKeyword.Keyword_3)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpProductKeyword.Keyword_3)
                        @Html.ValidationMessageFor(model => model.DezineCorpProductKeyword.Keyword_3)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpProductKeyword.Keyword_4)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpProductKeyword.Keyword_4)
                        @Html.ValidationMessageFor(model => model.DezineCorpProductKeyword.Keyword_4)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpProductKeyword.Keyword_5)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpProductKeyword.Keyword_5)
                        @Html.ValidationMessageFor(model => model.DezineCorpProductKeyword.Keyword_5)
                    </td>
                </tr>
              
           
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpProductKeyword.Keyword_6)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpProductKeyword.Keyword_6)
                        @Html.ValidationMessageFor(model => model.DezineCorpProductKeyword.Keyword_6)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpProductKeyword.Keyword_Color)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpProductKeyword.Keyword_Color)
                        @Html.ValidationMessageFor(model => model.DezineCorpProductKeyword.Keyword_Color)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpProductKeyword.Keyword_Colour_Primary)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpProductKeyword.Keyword_Colour_Primary)
                        @Html.ValidationMessageFor(model => model.DezineCorpProductKeyword.Keyword_Colour_Primary)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpProductKeyword.Keyword_Colour_Secondary)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpProductKeyword.Keyword_Colour_Secondary)
                        @Html.ValidationMessageFor(model => model.DezineCorpProductKeyword.Keyword_Colour_Secondary)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpProductKeyword.keyword_Linename)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpProductKeyword.keyword_Linename)
                        @Html.ValidationMessageFor(model => model.DezineCorpProductKeyword.keyword_Linename)
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>