@model ProductModel

<table class="adminContent">
    <tr>
        <td>
            <table>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.UseAlternateImprintType)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.UseAlternateImprintType)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.UseAlternateImprintType)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.SageDescription)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.SageDescription)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.SageDescription)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingA)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingA)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingA)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingAProductNumber)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingAProductNumber)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingAProductNumber)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingALocation1)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingALocation1)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingALocation1)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingALocation1MeasurementType)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingALocation1MeasurementType)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingALocation1MeasurementType)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingALocation1Width)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingALocation1Width)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingALocation1Width)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingALocation1Heigth)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingALocation1Heigth)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingALocation1Heigth)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingALocation2)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingALocation2)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingALocation2)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingALocation2MeasurementType)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingALocation2MeasurementType)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingALocation2MeasurementType)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingALocation2Width)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingALocation2Width)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingALocation2Width)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingALocation2Heigth)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingALocation2Heigth)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingALocation2Heigth)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingC)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingC)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingC)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingCProductNumber)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingCProductNumber)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingCProductNumber)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingE)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingE)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingE)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingEProductNumber)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingEProductNumber)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingEProductNumber)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingFamily)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingFamily)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingFamily)
                    </td>
                </tr>

            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.SageProductSize)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.SageProductSize)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.SageProductSize)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.MappedItemNumber)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.MappedItemNumber)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.MappedItemNumber)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingB)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingB)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingB)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingBProductNumber)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingBProductNumber)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingBProductNumber)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingBLocation1)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingBLocation1)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingBLocation1)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingBLocation1MeasurementType)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingBLocation1MeasurementType)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingBLocation1MeasurementType)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingBLocation1Width)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingBLocation1Width)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingBLocation1Width)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingBLocation1Heigth)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingBLocation1Heigth)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingBLocation1Heigth)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingBLocation2)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingBLocation2)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingBLocation2)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingBLocation2MeasurementType)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingBLocation2MeasurementType)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingBLocation2MeasurementType)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingBLocation2Width)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingBLocation2Width)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingBLocation2Width)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingBLocation2Heigth)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingBLocation2Heigth)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingBLocation2Heigth)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingD)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingD)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingD)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingDProductNumber)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingDProductNumber)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingDProductNumber)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingF)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingF)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingF)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpBranding.BrandingFProductNumber)
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(model => model.DezineCorpBranding.BrandingFProductNumber)
                        @Html.ValidationMessageFor(model => model.DezineCorpBranding.BrandingFProductNumber)
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>