@model ProductModel

<table class="adminContent">
    <tr>
        <td>
            <table>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpTierPrice.QuantityLevel)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpTierPrice.QuantityLevel)
                        @Html.ValidationMessageFor(model => model.DezineCorpTierPrice.QuantityLevel)
                    </td>
                </tr>
                
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpTierPrice.Price1)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpTierPrice.Price1)
                        @Html.ValidationMessageFor(model => model.DezineCorpTierPrice.Price1)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpTierPrice.Price3)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpTierPrice.Price3)
                        @Html.ValidationMessageFor(model => model.DezineCorpTierPrice.Price3)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpTierPrice.Price5)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpTierPrice.Price5)
                        @Html.ValidationMessageFor(model => model.DezineCorpTierPrice.Price5)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpTierPrice.Price7)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpTierPrice.Price7)
                        @Html.ValidationMessageFor(model => model.DezineCorpTierPrice.Price7)
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpTierPrice.DiscountCode)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpTierPrice.DiscountCode)
                        @Html.ValidationMessageFor(model => model.DezineCorpTierPrice.DiscountCode)
                    </td>
                </tr>
                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpTierPrice.Price2)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpTierPrice.Price2)
                        @Html.ValidationMessageFor(model => model.DezineCorpTierPrice.Price2)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpTierPrice.Price4)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpTierPrice.Price4)
                        @Html.ValidationMessageFor(model => model.DezineCorpTierPrice.Price4)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpTierPrice.Price6)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpTierPrice.Price6)
                        @Html.ValidationMessageFor(model => model.DezineCorpTierPrice.Price6)
                    </td>
                </tr>

                <tr>
                    <td class="adminTitle">
                        @Html.NopLabelFor(model => model.DezineCorpTierPrice.Price8)
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(model => model.DezineCorpTierPrice.Price8)
                        @Html.ValidationMessageFor(model => model.DezineCorpTierPrice.Price8)
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>